* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    font-family: "Arial";
}

.continent {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, .scores, .prompt, .buttons {
    text-align: center;
    margin-bottom: 1rem;
}

.scores {
    font-size: 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

button {
    height: 8rem;
    width: 8rem;
}

.winner {
    text-align: center;
    font-weight: bold;
}