* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: "Arial";
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
}

.mode {
    color: blue;
}

.mode:hover {
    cursor: pointer;
}

h1, h2, .scores, .buttons, .winner, .playAgain {
    text-align: center;
    margin-bottom: 1rem;
}

.output {
    text-align: center;
}

.prompt {
    margin-bottom: 0.5rem;
}

.scores {
    font-size: 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.choice {
    height: 8rem;
    width: 8rem;
    border-radius: 1rem;
}

.winner {
    font-weight: bold;
}

.playAgain {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}